---
layout: default
---

<!-- About ================================================== -->
<span class="anchor" id="about"></span>
<div class="jumbotron">
  <h1>{{ site.title }}</h1>
  <p class="lead">{{ site.about.description }}</p>
  <p class="small">{{ site.about.label }}: {{ site.timestamp }}</p>
</div> <!-- About -->

<div class="infographic clearfix">
  {% for post in site.posts %}
    <span class="anchor" id="{{post.section}}"></span>
    <div class="info-group">
      {% include section.html %}
    </div>
  {% endfor %}
</div>
