<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "46e4833a-a8e0-486e-9849-76d8fee2f6fe", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script type="text/javascript" src="{{ "/js/d3.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/dimple.v2.0.0.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bigtext.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/scrollshadow.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/first.js" | prepend: site.baseurl }}"></script>