<div>
<div class="lead share-text">Share this:</div>

	<a class="fb btn-share" href="javascript:window.open('http://www.facebook.com/share.php?u=' + document.URL + '&title={{site.title}}' , '_blank', 'width=400,height=500');void(0);"></a>

	<a class="twitter btn-share" href="javascript:window.open('http://twitter.com/home?status={{site.title}}+' + document.URL, '_blank', 'width=400,height=500');void(0);"></a>

	<a class="gplus btn-share"  href="javascript:window.open('https://plus.google.com/share?url=' + document.URL , '_blank', 'width=490,height=550');void(0);"></a>
</div>